/* Collapse */
.collapse-enter-active,
.collapse-leave-active {
  transition: all 0.3s ease-in-out;
}

.collapse-enter-from,
.collapse-leave-to {
  max-height: 0;
  opacity: 0;
}

/* Fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Drawer sliding in from the left edge */
.drawer-left-enter-active,
.drawer-left-leave-active {
  transition: transform 0.3s ease-in-out;
}

.drawer-left-enter-from,
.drawer-left-leave-to {
  transform: translateX(-100%);
}

/* Blur and Fade */
.page-enter-active,
.page-leave-active {
  transition:
    filter 0.5s ease,
    opacity 0.5s ease;
}

.page-enter-from,
.page-leave-to {
  filter: blur(10px);
  opacity: 0;
}

.page-enter-to,
.page-leave-from {
  filter: blur(0);
  opacity: 1;
}

.transition-300 {
  transition: all 0.3s ease-in-out;
}
.transition-500 {
  transition: all 0.5s ease-in-out;
}

.transition-200 {
  transition: all 0.2s ease-in-out;
}
